
body {
	background:black;
}
#text{

  color: rgb(255, 255, 255);
  font-size: 140px;


}
#yes {
  display:inline-block;
  color: rgb(0, 0, 0);
  font-family: 'Verdana';
  font-size: 70px;
  width: 200px;
  height: 100px;
  margin: 0 auto; 
 
}

#no{

  display:inline-block;
  color: rgb(0, 0, 0);
  font-family: 'Verdana';
  font-size: 70px;
  width: 200px;
  height: 100px;
  margin: 0 auto; 


}

#amongus { 
  text-align: center;
  width: 50%;
  margin: 0 auto; 
  width:250px;
  }

div{
text-align: center;

}